<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>React Tweets</title>
    <link rel="stylesheet" type="text/css" href="css/style.min.css">
  </head>
  <body>
  
    {{{ body }}}
    
    <footer class="page-footer">
      <div class="container">
        <div class="row">
          <div class="col l6 s12">
            <a class="grey-text text-lighten-4 right" href="https://twitter.com/Pixel_Dailies">The one and only Pixel Dailies</a>
          </div>
        </div>
      </div>
      <div class="footer-copyright">
        <div class="container">
          Made with ♡ by <a href="https://triplet.fi">TripleT</a>
        </div>
      </div>
    </footer>

    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
    
    <script src="https://cdn.socket.io/socket.io-1.1.0.js"></script>
    <script src="js/bundle.js"></script>

  </body>
</html>
